mat-card {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

mat-form-field {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
.but {
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
