<!-- <mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Something NEW !! </mat-panel-title>
    </mat-expansion-panel-header>

    <form #postForm="ngForm">
      <mat-form-field>
        <textarea
          class="pub"
          rows="6"
          type="text"
          placeholder="Express your self"
          name="content"
          ngModel
          #content="ngModel"
        >
        </textarea>
      </mat-form-field>

      <mat-card-actions>
        <button type="submit" mat-button>Post</button>
        <label class="custom-file-upload">
          <input type="file" />
          Photo
        </label>
      </mat-card-actions>
    </form>
  </mat-expansion-panel>
</mat-accordion> -->

<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Something NEW !! </mat-panel-title>
    </mat-expansion-panel-header>

    <Textarea
      class="pub"
      rows="6"
      type="text"
      placeholder="Express your self"
      name="content"
    ></Textarea>
  </mat-expansion-panel>
</mat-accordion> -->
