<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Something NEW !! </mat-panel-title>
    </mat-expansion-panel-header>

    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field appearance="outline">
        <textarea
          matInput
          class="pub"
          rows="6"
          type="text"
          placeholder="Express your self"
          name="content"
          ngModel
          #content="ngModel"
        >
        </textarea>
      </mat-form-field>

      <mat-card-actions>
        <button type="submit" mat-button>Post</button>
        <label class="custom-file-upload">
          <input type="file" />
          Photo
        </label>
      </mat-card-actions>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<!-- <form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <textarea
      matInput
      class="pub"
      rows="6"
      type="text"
      placeholder="Express your self"
      name="content"
      ngModel
      #content="ngModel"
    >
    </textarea>
  </mat-form-field>

  <mat-card-actions>
    <button type="submit" mat-button>Post</button>
    <label class="custom-file-upload">
      <input type="file" />
      Photo
    </label>
  </mat-card-actions>
</form> -->

<!--
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <Textarea
      class="pub"
      rows="6"
      type="text"
      placeholder="Express your self"
      name="content"
      #content="ngModel"
      ngModel
      required
    ></Textarea>
    <br />
    <button type="submit" mat-button>Post</button>
  </form>
</mat-card> -->
